#header {
    background-image : url('Hanz - Assets/home.jpg');  
    background-size:cover;
    height:100vh;
    display:flex;
    flex-direction: column;
    justify-content:center;
}

body{
    margin:0;
}

h1 {
    text-align:center;
    color:#ffffff;
}

#button {
    display:flex;
    justify-content:center;
}

#avatar {
    border-radius: 50%;
    width:50px;
}

#moncompte {
    vertical-align: center;
    border: solid 1px #ffffff;
    margin:20px;
   
}

#parent {
    display:flex;
    background-color:#4e96cc;
    justify-content:center;
    justify-content:space-between;
    align-items: center;
    padding: 50px;
    
}

h2 {
    color:#ffffff;
    text-align:center;
  
}

p {
    color:#ffffff;
    text-align:center;
  
}

.image-asset {
    width:50%;
    align-content:center;
}

@media only screen and (max-width: 700px) {
    #parent {
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
    }
    .image-asset {
        padding:5%;
    }

}